<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.3.min.js" type="text/javascript"></script>
    <style>
      .file {
        position: relative;
        display: inline-block;
        background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
      }
      .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
      }
      .file:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>蛇尾丸

    <a href="javascript:;" class="file">选择文件
      <input type="file" name="loadFile" id="loadFile" >
    </a>

<script>

  $('document').ready(function(){

    $("#loadFile").on("change",function(){
      // 获得上传文件DOM对象
      var oFiles = document.querySelector("#loadFile").files;
      // 实例化一个表单数据对象
      var formData = new FormData();
      // 遍历图片文件列表，插入到表单数据中
      for (var i = 0, file; file = oFiles[i]; i++) {
        // 文件名称，文件对象
        formData.append("uploadFile", file);
      }

      var host = 'http://'+window.location.host;
        $.ajax({
          url:host+'/upload',
          cache: false,
          type: 'post',
          dataType: 'json',
          contentType: false,
          processData: false,
          data:formData,
          success:function(data,status){
            if(status === "success"){
              alert("上传成功..  key:"+data.key+",hash:"+data.hash);
              $("#img").attr("src","http://7xjik2.com1.z0.glb.clouddn.com/"+data.key);
            }else{
              alert("上传失败");
              console.log(datat);
            }
          },
          error:function(res){
            console.error(res);
          }
        });

    });


  });

</script>
<img id="img" src=""/>
  </body>
</html>
