<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/body.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <div class="container">
      <section id="content">
        <form action="">
          <h1>会员登录</h1>
          <div>
            <input type="text" placeholder="登录名" required="" id="username" />
          </div>
          <div>
            <input type="password" placeholder="密码" required="" id="password" />
          </div>
          <div class="">
            <span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span></div>
          <div>
            <!-- <input type="submit" value="Log in" /> -->
            <input type="button" value="登录" class="btn btn-primary" id="js-btn-login"/>
            <a href="#">忘记密码?</a>
            <!-- <a href="#">Register</a> -->
          </div>
        </form><!-- form -->
      </section><!-- content -->
    </div>
    <!-- container -->

    <script>
      $(document).ready(function(){

        $("#js-btn-login").on("click",function(){
              var uName = $("#username").val();
              var uPwd  = $("#password").val();

              var data = "uName="+uName+"&uPwd="+uPwd;

              console.log(data);
              var host = 'http://'+window.location.host;
              $.ajax({
                url:host+'/login/login',
                type:'POST',
                data:data,
                success:function(data,status){
                  if(status == 'success'){
                    location.href=host;
                  }
                },
                error:function(res){
                    console.error(res);
                }
              });
        });


      });
    </script>
  </body>
</html>